#main {
    position: relative;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden !important;
    overflow-y: auto;
}

#innerRow {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftCol {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topContent {
    position: relative;
    display: flex;
    width: 100%;
    text-align: left;
}

.chip {
    position: relative;
    width: 10px;
    height: 10px;
}

.heading {
    display: flex;
    text-align: left;
    flex-direction: column !important;
    justify-content: center;
    align-items: flex-start;
    font-weight: 600;
    background: linear-gradient(to right ,royalblue,blueviolet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 1.5s anime linear infinite;
    text-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.05);
}

@keyframes anime {
    0% {}
    50% {
        filter: hue-rotate(60deg) ;    
    }
}

@media (max-width:576px) {
    .heading {
        font-size:4rem;
    }
    .bottomContent {
        display: flex;
        flex-direction: column !important;
        justify-content: flex-start !important; 
        align-items: flex-start !important;
    }
    .btns {
        width: 100% !important;
    }
}

.bottomContent {
    position: relative;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.btns {
    position: relative;
    transition: .3s ease-in-out;
    padding: 7px 20px;
}

.innerContent {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}

.imag {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.btns:hover {
    transform: translateY(-2px);
}